.loader {
  width: 40px;
  height: 40px;
  border: 4px solid var(--palette-black);

  border-bottom-color: var(--palette-gray);
  border-radius: 50%;
  display: inline-block;

  animation: spinner 1s cubic-bezier(0.6, 0, 0.4, 1) infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
