:root {
  --palette-black: #101010;
  --palette-black-70: #101010b1;
  --palette-gray: #ccc;
  --palette-white: #fff;

  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;

  --transition: 0.3s;
}
